<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
</head>
<body class=" bg-orange-200">
    <div class="bg-white w-1/2 h-screen ml-96 text-center">
        <h1 class="text-4xl font-bold mt-2">Welcome to Jobify</h1>
         <form class="mt-4" action="/provider/hire" method="post">
               <label class="text-xl" for="name" >Enter company's name:</label>
               <br/>
               <input type="text" name="name" required class=" border-black border"/>
               <br/>
               <br/>
               <label class="text-xl" for="email" >Enter email:</label>
               <br/>
               <input type="email" name="email" required class=" border-black border"/>
               <br/>
               <br/>
               <label class="text-xl" for="role" >Enter role</label>
               <br/>
               <input type="text" name="role" required class=" border-black border"/>
               <br/>
               <br/>
               <label class="text-xl" for="salary" >Enter salary with currency :</label>
               <br/>
               <input type="text" name="salary" required class=" border-black border"/>
               <br/>
               <br/>
               <label class="text-xl" for="loc" >Enter job location:</label>
               <br/>
               <input type="text" name="loc" required class=" border-black border"/>
               <br/>
               <br/>
               <label class="text-xl" for="res" >Enter responsiblities for the above role:</label>
               <br/>
               <input type="textarea" name="res" required class=" border-black border"/>
               <br/>
               <br/>
               <label class="text-xl" for="password" >Enter your password to continue :</label>
               <br/>
               <input type="password" name="password" required class=" border-black border"/>
               <br/>
               <br/>
               
               <button type="submit" class="btn btn-primary">Submit</button>
         </form>
               
            
        </div>
    </div>
</body>
</html>